.root {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    @media (max-width: 1920px) {
        margin-top: 7px;
        margin-bottom: 20px;
        min-height: auto;
    }
}
.login {
    &Link {
        color: var(--mainColor);
    }
    span {
        margin: 0 5px;
        color: var(--mainColor);
    }
}
.avatar {
    background-color: var(--mainColor);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
}
.menu {
    display: flex;
    align-items: center;
}
.userName {
    margin-right: 7px;
}
