.column {
    &:first-child {
        background-color: var(--secondaryColor);
        padding: 20px;
        border-radius: 16px;
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &:last-child {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &s {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}
.title {
    margin-bottom: 20px;
}
.orders,
.archiveOrders {
    display: grid;
    gap: 20px;
    margin-bottom: 10px;
    &No {
        height: 100%;
    }
}
.orders {
    grid-template-columns: 1fr 1fr;
}
.archiveOrders {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.table {
    &Tr {
        cursor: pointer;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px;
        transition: all 0.2s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(204, 238, 238, 1);
            }
        }
    }
    input:disabled {
        cursor: pointer;
    }
}
.total {
    margin-top: 20px;
    display: flex;
    padding: 20px;
    background-color: var(--secondaryColor);
    border-radius: 16px;
    justify-content: space-between;
    margin-bottom: 20px;
    &Text {
        margin-right: 10px;
    }
}
.active {
    background-color: rgba(204, 238, 238, 1);
}
.buttons {
    display: flex;
    justify-content: space-between;
    @media print {
        display: none;
    }
}
.addBlock {
    @media print {
        display: none;
    }
}
.modal {
    &Text {
        max-width: 380px;
        margin: 14px auto 0 auto;
    }
    &Buttons {
        margin-top: 14px;
        button:first-child {
            margin-right: 10px;
        }
    }
}
