.root {
    background: var(--secondaryColor);
    border-radius: 16px;
    width: 480px;
    padding: 80px 47px;
    text-align: center;
    @media (max-width: 520px) {
        width: 100%;
    }
}
.title {
    margin-bottom: 10px;
}
.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text {
    color: var(--textColor);
    margin-bottom: 40px;
    span {
        margin-left: 10px;
        a {
            color: var(--mainColor);
        }
    }
    &Bottom {
        margin-bottom: 20px;
        color: var(--textColor);
    }
}
.input {
    width: 320px;
    display: block;
    margin: 0 auto;
    padding: 12px;
    margin-bottom: 20px;
    @media (max-width: 520px) {
        max-width: 320px;
        width: 100%;
    }
}
.btn {
    margin-bottom: 40px;
}
.or {
    max-width: 320px;
    height: 1px;
    background-color: var(--greyColor);
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    span {
        position: absolute;
        font-size: 12px;
        padding: 0 3px;
        color: rgba(204, 204, 204, 1);
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: white;
    }
}
.link {
    display: block;
    margin-bottom: 40px;
    margin-top: -20px;
}
.error {
    color: var(--redColor);
    width: 320px;
    margin: 0 auto 20px auto;
}
