.table {
    color: var(--textColor);
}
.title {
    margin-bottom: 5px;
    padding: 5px 20px 0 20px;
    @media (max-width: 576px) {
        padding: 5px 10px 0 10px;
    }
}
.thead {
    display: grid;
    align-items: center;
    color: var(--secondaryColor);
    word-wrap: break-word;
    flex: 1 1 auto;
    @media (max-width: 576px) {
        padding: 5px 5px;
    }
}
.tr {
    display: grid;
    align-items: center;
    flex: 1 1 auto;
}
.tbody {
    background-color: var(--secondaryColor);
    padding: 10px 15px 10px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    @media (max-width: 576px) {
        padding: 10px 5px 10px 5px;
    }
}
.td {
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    &Delete {
        text-align: right;
    }
}
.th {
    padding: 5px;
}
.delete {
    color: red;
    cursor: pointer;
}
.block {
    background-color: var(--secondaryColor);
}
.block:nth-child(2) {
    padding-top: 15px;
}
.addBlock {
    padding: 0 20px 15px 20px;
    margin-top: -10px;
}
.wrapper {
    display: flex;
    &Head {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        background-color: var(--mainColor);
        padding: 5px 15px;
    }
}
