.overflow {
    margin-bottom: 20px;
    @media (max-width: 630px) {
        overflow: auto;
    }
}
.table {
    color: var(--textColor);
}
.title {
    margin-bottom: 5px;
    padding: 5px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 576px) {
        padding: 5px 10px 0 10px;
    }
    &Wrapper {
        display: flex;
        align-items: center;
        position: relative;
        svg {
            width: 11px;
            margin-left: 8px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
            cursor: pointer;
        }
        @media (any-hover: hover) {
            &:hover {
                svg {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.thead {
    display: grid;
    align-items: center;
    color: var(--secondaryColor);
    word-wrap: break-word;
    flex: 1 1 auto;
}
.tr {
    display: grid;
    align-items: center;
    flex: 1 1 auto;
}
.tbody {
    background-color: var(--secondaryColor);
    padding: 10px 15px 10px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    @media (max-width: 576px) {
        padding: 10px 5px 10px 5px;
    }
}
.td {
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    &Delete {
        text-align: right;
    }
}
.th {
    padding: 5px;
}
.delete {
    color: red;
    cursor: pointer;
    font-size: 9px;
}
.block {
    &Wrapper {
        padding-top: 15px;
        background-color: var(--secondaryColor);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
.addBlock {
    padding: 0 20px 15px 0;
    margin-top: 0;
    margin-left: 20px;
    position: relative;
}
.wrapper {
    display: flex;
    &Head {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        background-color: var(--mainColor);
        padding: 5px 15px;
        @media (max-width: 576px) {
            padding: 5px 5px;
        }
    }
}
.buttons {
    display: flex;
    justify-content: space-between;
}
