.root {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
.image {
    background-color: var(--secondaryColor);
    padding: 20px;
    border-radius: 16px;
    align-self: baseline;
    &Block {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        height: 694px;
        img {
            object-fit: cover;
            border-radius: 16px;
            @media (max-width: 576px) {
                grid-template-columns: 1fr;
            }
        }
        @media (max-width: 576px) {
            height: 350px;
        }
    }
}
.backLink {
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    &:before {
        margin-right: 13px;
    }
}
#tooltiptext {
    left: 0;
    top: 25px;
    display: block;
    width: 250px;
}
.params {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin-top: 20px;
    &Block {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        height: 35px;
    }
    span {
        cursor: pointer;
        color: var(--textColor);
        input {
            margin-right: 10px;
        }
    }
}
.grid {
    display: flex;
    gap: 10px;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
}
.rings {
    display: flex;
    column-gap: 8px;
    flex-wrap: wrap;
    &Block {
        color: var(--textColor);
    }
}
