.btn {
    display: inline-block;
    padding: 6px 28px;
    border: 1px solid var(--mainColor);
    border-radius: 8px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    &__secondary {
        background-color: var(--mainColor);
        color: white !important;
        transition: all 0.8s ease 0s;
        border: 1px solid transparent;
        @media (any-hover: hover) {
            &:hover {
                background-color: #00aaa9;
            }
        }
        &:disabled {
            background-color: #99dddd;
            cursor: default;
        }
    }
    &__animation {
        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 200px;
            margin-left: 50px;
            background: #fff;
            background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.5) 0%,
                rgba(255, 255, 255, 1) 50%,
                rgba(255, 255, 255, 0.5) 100%
            );
            left: -40px;
            top: -100px;
            z-index: 1;
            transform: rotate(45deg);
            position: absolute;
            animation: movingFlare 3s ease-in-out 0.05s infinite;
        }
    }
}
@keyframes movingFlare {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}
