.title {
    color: #7a7a7a;
    margin-bottom: 20px;
    display: block;
}
.text {
    width: 300px;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 20px;
}
.btn {
    color: white;
}
