.title {
    color: #7a7a7a;
    margin-bottom: 20px;
    display: block;
}
.text {
    width: 300px;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 20px;
}
.btn {
    color: white;
}
.noOrders {
    position: absolute;
    top: 50%;
    margin-bottom: 0 !important;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}
