.root {
    display: flex;
    gap: 20px;
    @media (max-width: 950px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
.info {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    flex: 0 1 520px;
    &Title {
        margin-bottom: 20px;
    }
    &Avatar {
        border: 1px solid #cccccc;
        border-radius: 8px;
        min-width: 140px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 191px;
        width: 143px;
        span {
            &:before {
                font-size: 41px;
                color: rgba(204, 204, 204, 1);
            }
        }
        img {
            width: 100%;
            object-fit: cover;
            height: 191px;
            border-radius: 8px;
        }
    }
    &Columns {
        display: flex;
        gap: 20px;
    }
    &Input {
        padding: 12px !important;
        margin-bottom: 10px;
    }
    &Flex {
        flex: 1 1 auto;
        form {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
.security {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    flex: 0 1 360px;
    min-width: 290px;
    display: flex;
    flex-direction: column;
    &Input {
        margin-bottom: 10px;
        padding: 12px !important;
    }
    &Buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
.order {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    flex: 0 1 266px;
    align-self: baseline;
    &Block {
        display: flex;
        align-items: center;
        gap: 12px;
        .css-aisvj3-container {
            width: 100%;
        }
    }
    &Tooltip {
        span {
            color: var(--textColor);
            i:before {
                color: rgba(241, 99, 99, 1);
            }
        }
    }
}
.error {
    color: var(--redColor);
    width: 100%;
    margin: 0 auto 10px auto;
}
.success {
    color: var(--textColor);
    width: 100%;
    margin: 0 auto 10px auto;
}
