.modal {
    background: var(--secondaryColor);
    border-radius: 16px;
    width: 440px;
    padding: 80px 20px;
    text-align: center;
    @media (max-width: 576px) {
        width: auto;
        border-radius: 0;
    }
    &Text {
        max-width: 290px;
        margin: 14px auto 0 auto;
    }
}
