.mainBlock {
    display: flex;
    gap: 20px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.tabs {
    width: calc(65% - 20px);
    @media (max-width: 768px) {
        width: 100%;
    }
}
.tab {
    display: flex;
    align-items: center;
    &Item {
        cursor: pointer;
        padding: 4px 20px;
        display: inline-block;
    }
    span {
        color: var(--mainColor);
        margin-left: 12px;
        cursor: pointer;
    }
    &Active {
        border-radius: 8px 8px 0px 0px;
        background-color: var(--secondaryColor);
        color: var(--mainColor);
    }
    &Content {
        padding: 20px;
        background: var(--secondaryColor);
        border-radius: 0px 16px 16px 16px;
        &GridContainer {
            display: flex;
            gap: 20px;
            flex-flow: column wrap;
            margin-bottom: 20px;
            height: 546px;
            justify-content: space-between;
            @media (max-width: 768px) {
                height: 741px;
            }
            @media (max-width: 576px) {
                height: auto;
            }
            & > .information:nth-child(1),
            & > .information:nth-child(2),
            & > .informationInputBlock {
                width: calc(55% - 10px);
            }
            & > .information:nth-child(4),
            & > .information:nth-child(5),
            & > .information:nth-child(6) {
                width: calc(45% - 10px);
            }
            @media (max-width: 768px) {
                & > .information:nth-child(1) {
                    order: 1;
                    width: calc(62% - 10px);
                }
                & > .information:nth-child(2) {
                    order: 4;
                    width: calc(62% - 10px);
                }
                & > .informationInputBlock {
                    grid-template-columns: 1fr;
                    order: 5;
                    width: calc(38% - 10px);
                }
                & > .information:nth-child(4) {
                    order: 2;
                    width: calc(62% - 10px);
                }
                & > .information:nth-child(5) {
                    order: 3;
                    width: calc(62% - 10px);
                }
                & > .information:nth-child(6) {
                    order: 6;
                    width: calc(38% - 10px);
                }
            }
            @media (max-width: 576px) {
                & > .information:nth-child(1) {
                    order: 1;
                    width: 100%;
                }
                & > .information:nth-child(2) {
                    order: 4;
                    width: 100%;
                }
                & > .informationInputBlock {
                    grid-template-columns: 1fr 1fr;
                    order: 5;
                    width: 100%;
                }
                & > .information:nth-child(4) {
                    order: 2;
                    width: 100%;
                }
                & > .information:nth-child(5) {
                    order: 3;
                    width: 100%;
                }
                & > .information:nth-child(6) {
                    order: 6;
                    width: 100%;
                }
            }
        }
        &Buttons {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
    }
}
.cake {
    width: 35%;
    background-color: var(--secondaryColor);
    border-radius: 16px;
    margin-top: 30px;
    padding: 40px 40px 30px 40px;
    @media (max-width: 768px) {
        width: 100%;
        margin-top: 0;
    }
    @media (max-width: 1280px) {
        padding: 40px 20px 20px 20px;
    }
    &Title {
        margin-bottom: 40px;
    }
    &Image {
        overflow: auto;
        margin-bottom: 40px;
        text-align: center;
        img {
            width: 440px;
        }
    }
    &Columns {
        color: var(--textColor);
        width: 100%;
    }
    &Column {
        display: flex;
        &Title {
            margin-bottom: 10px;
        }
        div {
            padding-bottom: 10px;
            &:first-child {
                padding-right: 5px;
                width: 85%;
            }
            &:last-child {
                width: 15%;
            }
            @media (max-width: 768px) {
                &:first-child {
                    width: 90%;
                }
                &:last-child {
                    min-width: 10%;
                }
            }
        }
    }
}
.information {
    background: #f4f2f1;
    border-radius: 8px;
    padding: 20px;
    align-self: start;
    overflow: auto;
    &Text {
        margin-bottom: 10px;
    }
    &Input {
        margin-bottom: 10px;
    }
    &Textarea {
        height: 114px;
        @media (max-width: 768px) {
            height: 68px;
        }
    }
    &InputBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: auto;
        gap: 10px;
        & > .information {
            min-width: 150px;
        }
        &Gap {
            gap: 20px;
            @media (max-width: 576px) {
                grid-template-columns: 1fr !important;
            }
        }
    }
    &LabelBlock,
    &ImageBlock {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        overflow: auto;
        padding: 2px;
    }
    &ImageBlock {
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &Label {
        span {
            display: flex;
            flex-direction: column;
            min-width: 120px;
            align-items: center;
            padding: 18px 10px 10px 10px;
            background-color: var(--secondaryColor);
            border-radius: 8px;
            cursor: pointer;
            text-align: center;
            height: 100%;
            &:before {
                margin-bottom: 17px;
                font-size: 20px;
            }
            @media (max-width: 576px) {
                min-width: auto;
            }
        }
        input {
            visibility: hidden;
            position: absolute;
            &:checked + span {
                outline: 1px solid var(--mainColor);
                color: var(--mainColor);
            }
        }
    }
    &Slider {
        margin-bottom: 25px;
    }
    &Image {
        min-width: 120px;
        height: 81px;
        background: var(--secondaryColor);
        border-radius: 8px;
        padding: 10px;
        &Img {
            img {
                width: 100%;
                object-fit: cover;
                height: 61px;
                border-radius: 8px;
                @media (max-width: 768px) {
                    height: 99px;
                }
            }
        }
        @media (max-width: 768px) {
            height: 119px;
        }
    }
}
.slider {
    appearance: none;
    width: 100%;
    height: 4px;
    background: var(--mainColor);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--mainColor);
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: var(--mainColor);
    cursor: pointer;
    border-radius: 50%;
}
#tooltiptext {
    display: grid;
    grid-template-columns: 6fr 1fr;
    font-size: 10px;
    span {
        display: block;
    }
    span:not(:last-child) {
        margin-bottom: 4px;
    }
}
