.settings {
    &__info {
        background: #ffffff;
        border-radius: 16px;
        padding: 20px;
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 10px;
    }
    &__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        color: var(--textColor);
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
    &__column {
        p:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__tables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}
