:root {
    --fontFamily: 'Hauora', sans-serif;
    --textColor: #002222;
    --mainColor: #009998;
    --secondaryColor: #ffffff;
    --lightGreyColor: #f4f2f1;
    --greyColor: #cccccc;
    --mediumGreyColor: #7a7a7a;
    --redColor: #f16363;
}

@import 'null';
@import 'fonts';
@import 'icons';

#__next {
    height: 100%;
}
body.lock {
    overflow: hidden !important;
}

.container {
    max-width: 1880px;
    margin: 0 auto;
    @media (max-width: 1920px) {
        max-width: none;
        padding: 0 20px;
    }
}
.wrapper {
    display: flex;
    padding-top: 13px;
    height: 100%;
    @media (max-width: 1920px) {
        flex-direction: column;
    }
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    background-color: var(--lightGreyColor);
    border-radius: 12px;
    padding: 20px;
    flex: 1 1 auto;
    @media (max-width: 1280px) {
        margin: 0 -20px;
        border-radius: 0;
    }
}
.input {
    width: 100%;
    min-width: 50px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    font-size: 12px;
    &::placeholder {
        color: #cccccc;
        font-weight: 400;
        line-height: 150%;
    }
    &:disabled {
        background-color: white;
        cursor: default;
    }
    @media (any-hover: hover) {
        &:hover {
            border: 1px solid #7a7a7a;
        }
    }
    &:focus,
    &:active {
        border: 1px solid #009998;
    }
    @media (max-width: 576px) {
        font-size: 10px;
    }
}
.btn {
    display: inline-block;
    padding: 6px 28px;
    border: 1px solid var(--mainColor);
    border-radius: 8px;
    background-color: transparent;
    &__secondary {
        background-color: var(--mainColor);
        color: white !important;
        transition: all 0.8s ease 0s;
        border: 1px solid transparent;
        @media (any-hover: hover) {
            &:hover {
                background-color: #00aaa9;
            }
        }
        &:focus,
        &:active {
            background-color: #33bbba;
        }
        &:disabled {
            background-color: #99dddd;
            cursor: default;
        }
    }
}
.addBlock {
    color: var(--mainColor);
    margin-top: 10px;
    display: block;
    span {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        &:before {
            margin-right: 13px;
        }
    }
    &__noIcon {
        span:before {
            display: none;
        }
    }
}
.select {
    padding: 8px;
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--textColor);
    @media (max-width: 576px) {
        font-size: 14px;
    }
}
.small-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--mainColor);
    @media (max-width: 576px) {
        font-size: 10px;
    }
}
.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: var(--textColor);
    @media (max-width: 576px) {
        font-size: 18px;
    }
}

#nprogress .spinner {
    display: none !important;
}

.icon-1:before {
    font-size: 18px;
}
.icon-2:before {
    font-size: 14px;
}
.icon-3:before,
.icon-4:before {
    font-size: 24px;
}
.icon-5:before {
    font-size: 19px;
}
.icon-6:before,
.icon-7:before {
    font-size: 20px;
}
.icon-9:before,
.icon-16:before {
    font-size: 22px;
}
.icon-26:before {
    color: red;
}
.icon-29:before,
.icon-30:before {
    font-size: 9px;
}
.icon-21:before {
    font-size: 18px;
}
