:root {
    --fontFamily: 'Hauora', sans-serif;
    --textColor: #002222;
    --mainColor: #009998;
    --secondaryColor: #ffffff;
    --lightGreyColor: #f4f2f1;
    --greyColor: #cccccc;
    --mediumGreyColor: #7a7a7a;
    --redColor: #f16363;
}

@import 'null';
@import 'fonts';
@import 'icons';

#__next {
    height: 100%;
}

body.lock {
    overflow: hidden !important;
}
.container {
    max-width: 1880px;
    margin: 0 auto;
    @media (max-width: 1920px) {
        max-width: none;
        padding: 0 20px;
    }
}
.wrapper {
    display: flex;
    padding-top: 13px;
    height: 100%;
    @media (max-width: 1920px) {
        flex-direction: column;
    }
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    background-color: var(--lightGreyColor);
    border-radius: 12px;
    padding: 20px;
    flex: 1 1 auto;
    position: relative;
    @media (max-width: 1280px) {
        margin: 0 -20px;
        border-radius: 0;
    }
}
.addBlock {
    color: var(--mainColor);
    margin-top: 10px;
    display: block;
    & > span {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        &:before {
            margin-right: 13px;
        }
    }
    &__noIcon {
        span:before {
            display: none;
        }
        margin-left: 10px;
    }
}
.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--textColor);
    @media (max-width: 576px) {
        font-size: 14px;
    }
}
.small-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--mainColor);
    @media (max-width: 576px) {
        font-size: 10px;
    }
}
.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: var(--textColor);
    @media (max-width: 576px) {
        font-size: 18px;
    }
}

#nprogress .spinner {
    display: none !important;
}
.table {
    &.lock {
        overflow: hidden;
    }
}
